{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3" style="color: #fff;">About</h1>
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-content">A full-fledged blog application built on Flask with secure login capabilities using Bcrypt hashing algorithm.<br>Users can create, update and delete their posts after logging in.<br>They can also upload their profile pictures in the Account panel.<br>It is currently hosted on Heroku.</h2>
        </div>
    </article>
{% endblock content %}